In [47]:
import pandas as pd
import matplotlib as plt

In [48]:
df = pd.read_csv("../resultados_escolas.csv")
df.head()

,DIRETORIA_ENSINO,SEMESTRE,ALUNOS_INGLES,ALUNOS_ESPANHOL,ALUNOS_FRANCES,ALUNOS_MANDARIM
0,SUL 1,2019-1,84,175,53,0
1,FRANCA,2019-1,207,734,59,0
2,MAUA,2019-1,152,846,0,0
3,SANTO ANASTACIO,2019-1,0,19,0,0
4,SUL 3,2019-1,253,998,48,0

In [49]:
# ordenar por semestre e remover a coluna de alunos estudando mandarim e francês
df = df.sort_values(by=['DIRETORIA_ENSINO', 'SEMESTRE']).reset_index(drop=True).drop(['ALUNOS_MANDARIM', 'ALUNOS_FRANCES'], axis=1)
df.head()

  DIRETORIA_ENSINO SEMESTRE  ALUNOS_INGLES  ALUNOS_ESPANHOL
0       ADAMANTINA   2019-1             53              239
1       ADAMANTINA   2019-2             57              216
2       ADAMANTINA   2020-1             56              225
3       ADAMANTINA   2020-2             50              241
4       ADAMANTINA   2021-1             25              103

## Inglês

In [ ]:
# Calcular a diferença em matrículas em aulas de inglês entre semestres consecutivos para cada regiao
df['DIFF_ALUNOS_INGLES'] = df.groupby('DIRETORIA_ENSINO')['ALUNOS_INGLES'].diff()

# Calcular a média percentual de aumento/diminuição em relação ao semestre anterior
df['PCT_DIFF_ALUNOS_INGLES'] = df['DIFF_ALUNOS_INGLES'] / df.groupby('DIRETORIA_ENSINO')['ALUNOS_INGLES'].shift(1) * 100

# evita divisões por zero
df_filtered = df[df['ALUNOS_INGLES'].shift(1) > 0]

# Calcular a média percentual de aumento/diminuição em matrículas de inglês, ignorando NaN
aumento_medio_percentual_ingles = df_filtered['PCT_DIFF_ALUNOS_INGLES'].mean()
print(f'O aumento médio percentual em matrículas em aulas de inglês entre 2019-1 e 2024-2: {aumento_medio_percentual_ingles:.2f}%')

O aumento médio percentual em matrículas em aulas de inglês entre 2019-1 e 2024-2: 3.05%

In [54]:
# Redefine df_filtered to avoid the missing variable error
df_filtered = df[df['ALUNOS_INGLES'].shift(1) > 0]

# Calculate the mean percentage increase per region
avg_pct_increase_per_region = df_filtered.groupby('DIRETORIA_ENSINO')['PCT_DIFF_ALUNOS_INGLES'].mean().reset_index()

# Sort the regions by the highest average increase and select the top 10
top_10_regions = avg_pct_increase_per_region.sort_values(by='PCT_DIFF_ALUNOS_INGLES', ascending=False).head(10)

# Display the result
top_10_regions

         DIRETORIA_ENSINO  PCT_DIFF_ALUNOS_INGLES
62            SANTO ANDRE               45.058835
34                    JAU               39.821988
15              CATANDUVA               39.505752
13               CAPIVARI               38.433076
14            CARAPICUIBA               38.224427
64  SAO BERNARDO DO CAMPO               35.553182
44                MARILIA               28.508202
77                 SUMARE               27.705865
18             CENTRO SUL               27.679808
70              SAO ROQUE               27.509021

In [55]:
# Redefine df_filtered to avoid the missing variable error
df_filtered = df[df['ALUNOS_INGLES'].shift(1) > 0]

# Calculate the mean percentage increase per region
avg_pct_increase_per_region = df_filtered.groupby('DIRETORIA_ENSINO')['PCT_DIFF_ALUNOS_INGLES'].mean().reset_index()

# Sort the regions by the highest average increase and select the bottom 10
bottom_10_regions = avg_pct_increase_per_region.sort_values(by='PCT_DIFF_ALUNOS_INGLES', ascending=True).head(10)

# Display the result
bottom_10_regions

        DIRETORIA_ENSINO  PCT_DIFF_ALUNOS_INGLES
1              AMERICANA             -100.000000
81                  TUPA              -50.000000
46              MIRACATU              -44.320149
36               JUNDIAI              -42.553191
28       ITAQUAQUECETUBA              -40.104390
25  ITAPECERICA DA SERRA              -35.714286
60        RIBEIRAO PRETO              -31.327769
43                  LINS              -31.108108
80               TAUBATE              -30.791657
10     BRAGANCA PAULISTA              -30.555556

## Espanhol

In [56]:
# Calcular a diferença em matrículas em aulas de inglês entre semestres consecutivos para cada regiao
df['DIFF_ALUNOS_ESPANHOL'] = df.groupby('DIRETORIA_ENSINO')['ALUNOS_ESPANHOL'].diff()

# Calcular a média percentual de aumento/diminuição em relação ao semestre anterior
df['PCT_DIFF_ALUNOS_ESPANHOL'] = df['DIFF_ALUNOS_ESPANHOL'] / df.groupby('DIRETORIA_ENSINO')['ALUNOS_ESPANHOL'].shift(1) * 100

# evita divisões por zero
df_filtered = df[df['ALUNOS_ESPANHOL'].shift(1) > 0]

# Calcular a média percentual de aumento/diminuição em matrículas de inglês, ignorando NaN
aumento_medio_percentual_espanhol = df_filtered['PCT_DIFF_ALUNOS_ESPANHOL'].mean()
print(f'O aumento médio percentual em matrículas em aulas de espanhol entre 2019-1 e 2024-2: {aumento_medio_percentual_espanhol:.2f}%')

O aumento médio percentual em matrículas em aulas de espanhol entre 2019-1 e 2024-2: -13.97%

In [ ]:
# Redefine df_filtered to avoid the missing variable error
df_filtered = df[df['ALUNOS_ESPANHOL'].shift(1) > 0]

# Calculate the mean percentage increase per region
avg_pct_increase_per_region = df_filtered.groupby('DIRETORIA_ENSINO')['PCT_DIFF_ALUNOS_ESPANHOL'].mean().reset_index()

# Sort the regions by the highest average increase and select the top 10
top_10_regions_espanhol = avg_pct_increase_per_region.sort_values(by='PCT_DIFF_ALUNOS_ESPANHOL', ascending=False).head(10)

# Display the result
top_10_regions_espanhol

        DIRETORIA_ENSINO  PCT_DIFF_ALUNOS_ESPANHOL
44                  LINS                 81.781310
2                  APIAI                 46.832504
50            MOGI MIRIM                 32.176988
51               NORTE 1                 18.711415
69  SAO JOAQUIM DA BARRA                 11.340466
45               MARILIA                  7.226293
13        CAMPINAS OESTE                  5.159838
14              CAPIVARI                  3.010003
59          PIRASSUNUNGA                  2.740512
26  ITAPECERICA DA SERRA                 -0.869004

In [58]:
# Redefine df_filtered to avoid the missing variable error
df_filtered = df[df['ALUNOS_ESPANHOL'].shift(1) > 0]

# Calculate the mean percentage increase per region
avg_pct_increase_per_region = df_filtered.groupby('DIRETORIA_ENSINO')['PCT_DIFF_ALUNOS_ESPANHOL'].mean().reset_index()

# Sort the regions by the highest average increase and select the top 10
bottom_10_regions_espanhol = avg_pct_increase_per_region.sort_values(by='PCT_DIFF_ALUNOS_ESPANHOL', ascending=True).head(10)

# Display the result
bottom_10_regions_espanhol

     DIRETORIA_ENSINO  PCT_DIFF_ALUNOS_ESPANHOL
30            ITARARE                -59.157895
37            JUNDIAI                -43.546816
54           OURINHOS                -37.330902
83               TUPA                -35.059733
63    SANTO ANASTACIO                -34.649123
61           REGISTRO                -29.329341
27       ITAPETININGA                -29.151129
75           SOROCABA                -28.176778
39            LESTE 2                -26.723547
11  BRAGANCA PAULISTA                -25.935104